.App {
  text-align: center;
}

.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.user {
  border: 2px solid seagreen;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: lightgoldenrodyellow;
}